.footer{
  padding: 30px 40px;
  background: #000;
  color: #fff;
  display: flex; flex-direction: column;
  position: relative;
  z-index: 1;
  .text_wrap{
    display: flex;

    .footer_left{
      width: 700px;
      p{
        font-size: 75px;
        font-family: $primary-en;
      }
    }
    .footer_right{
      h6{
        margin: 5px 0;
      }
      .copy{
        color: #b5b5b5;
        font-weight: 200;
      }
    }
  }
  .footer_img{
    margin-left: auto;
    img{
      width: 75px;
    }
  }
}