/* font family */
$primary-kr : 'Pretendard', sans-serif;
$primary-en : 'Geologica', sans-serif;

/* font size */
$intro : 160px;
$mega_title : 113px;
$big_title : 110px;
$h1 : 42px;
$h2 : 32px;
$h3 : 26px;
$h4 : 24px;
$h5 : 20px;
$h6 : 18px;
$small : 14px;

/* Object color */
$dark_black : #333333;
$dark_blue : #090030;
$blue : #0F0A4E;
$dark_purple : #453369;
$purple : #8A4AFC;
$light_purple : #9920F6;
$pink : #FBA6BA;
$light_pink : #F6B9D7;
$title_pink : #b5207a;
$gradient_pink : #FEEBE8;
$gradient_green : #AED4CE;
$red : #E51D20;
$btn_red : #F7A09C;
$btn_pink : #FDAACE;